/* base style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(240, 240, 240)
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: rgb(255, 255, 255);
    width: 1090px;
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
}
/* header style */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}
.nav-container{
    background-color: rgb(255, 255, 255);
    width: 1090px;
    margin-top: 40px;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: -34px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title h1{
    font-size: 24px;
    color: #3a3a3a;
    padding: 25px;
}
.list ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.list a{
    text-decoration: none;
    color: #3a3a3a;
    margin-right: 20px;
    font-size: 16px;
    
}
/* top section  */

.top-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.top-section-details{
    padding: 20px;
}
.top-section-title{
    font-size: 52px;
    color: #3A3A3A;
    margin-bottom: 0;
}
.top-section-title p{
    font-size: 16px;
    color: #3A3A3A;
    text-align: left; 
}
button{
    background-color: #e02c6d;
    color: white;
    width: 200px;
    height: 45px;
    border-radius: 40px;
}
.top-section-img img{
    width: 440px;
    height: 414px;
    padding: 20px;
}
/* shop bar */
hr{
    border: 1px solid rgb(0, 0, 0);
}
.e-commers-banner{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: rgb(250, 230, 226);
    grid-column-gap: 50px;
    align-items: center;
    padding: 36px;
    border-radius: 10px;
}
.e-commers-banner img{
    width: 100px;
    height: 40px;
} 

/* product part  */
.product-container{
    background-color: rgb(255, 255, 255);
    width: 1090px;
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    justify-items: center;
    grid-row-gap: 30px;
}
.product{
    height: 470px;
    width: 302px;
    background-color: rgb(232, 241, 240);
    border-radius: 10px;
    padding: 15px;
}
.product:hover{
    box-shadow: 5px 5px rgba(0, 0, 0, 0.212);
}
.product-title{
    text-align: center;
    font-size: 30px;
    padding-bottom: 30px;
    color:#3A3A3A;
}
.thumb img{
    height: 256px;
    width: 300px;
}
.product-name h3{
    font-size: 28px;
    margin-bottom: 0;
    margin-top: 16px;
}
.product-name h4{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
}
.fa-star.filled{
    color: #ffc014;
}
.fa-star-half.half{
    color: #ffc014;
}
.fa-star.empty{
    color: #858072;
}
.other h6{
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}
.product-container p{
    color: #e02c6d;
    text-align: right;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 50px;
}
/* extra section  */

.extra-container{
    background-color: rgb(255, 255, 255);
    width: 1090px;
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
}
.extras-cart{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    justify-items: center;
    grid-row-gap: 30px;
}
.extras{
    height: 550px;
    width: 302px;
    background-color: rgb(241, 237, 243);
    border-radius: 10px;
    padding: 20px;
}
.extras:hover{
    box-shadow: 5px 5px rgba(53, 59, 119, 0.212);
}
.content-creator-name h3{
    font-size: 28px;
    margin-bottom: 0;
    margin-top: 16px;
    text-align: center;
}
.content-creator-name h4{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}
.content-creator-name h2{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0px;
    text-align: center;
    color: rgb(202, 12, 53);
    font-weight: 900;
}
.reating2{
    display: flex;
    justify-content: center;
}
.thumb-2 img{
    width: 300px;
    height: 300px;
}
.other-2 h6{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.other-2 button{
    margin-left: 50px;
}
.extra-container p{
    color: #e02c6d;
    text-align: right;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 50px;
}
/* footersection */

footer{
    text-align: center;
    background-color: rgb(3, 3, 54);
    color: white;
    padding: 50px;
    position: sticky;
}
.footer-heading h2{
    font-size: 25px;
    margin-bottom: 10px;
}
.footer-heading small{
    display: block;
    font-size: 14px;
    margin-top: 0;
}
.icon{
    padding: 17px;
}

/* for mobile divice */

@media only screen and (max-width:688px){
    .container, .nav-container, .product-container, .extra-container, .footer{
        width: 100%;
    }
    .e-commers-banner, .products, .extras-cart{
        grid-template-columns: repeat(1, 1fr);
    }
    .list ul, .product, .extras{
        flex-direction: column;
    }
    .top-section{
        display: flex;
        flex-direction: column;
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
}